DEBUG=wnx:*
TIMEOUT=90000
NODE_ENV=develop

## SERVICE_NAME=

# **********************
# gRPC services hosts
# **********************

#[SERVICE_NAME]_HOST=
#[SERVICE_NAME]_API_PORT=
#[SERVICE_NAME]_GRPC_PORT=

# **********************
# Internationalization
# **********************

LOCALE=fa
REGION=IR
TZ=Asia/Tehran

# **********************
# Logging Services
# **********************

# Sentry
SENTRY_DSN=
SENTRY_MAX_BREADCRUMBS=10
SENTRY_TRACES_SAMPLE_RATE=1.0

# **********************
# Storage Services
# **********************

# Redis
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PREFIX=wnx
REDIS_PASSWORD=

# Minio
MINIO_HOST=localhost
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Mongo
MONGO_DB=wenex
MONGO_PREFIX=wnx

MONGO_USER=root
MONGO_PASS=password123
MONGO_HOST=mongodb-primary:27017,mongodb-secondary:27018
MONGO_QUERY="replicaSet=rs0&authSource=admin"

# Elasticsearch
ELASTIC_PREFIX=wnx
ELASTICSEARCH_NODE=http://localhost:9200

# **********************
# Broker Services
# **********************

# Kafka
KAFKA_HOST=
KAFKA_PORT=

KAFKAJS_NO_PARTITIONER_WARNING=1

# EMQX
EMQX_USERNAME=admin
EMQX_PASSWORD=public

EMQX_EXHOOK_URL=http://localhost:6030
EMQX_BASE_URL=http://localhost:18083/api/v5

# **********************
# OpenStreetMap
# **********************

# Nominatim
NOMINATIM_API_BASE_URL=http://localhost:18081

# **********************
# TURN/STUN Server
# **********************

# Coturn
COTURN_AUTH_SECRET=north

# **********************
# Telemetry Services
# **********************

# OpenTelemetry
OTLP_PORT=4318
OTLP_HOST=localhost
## OTLP_SERVICE_NAME=${SERVICE_NAME}

# **********************
# APM Service
# **********************

# Elastic - https://github.com/sherifabdlnaby/elastdocker
## ELASTIC_APM_SERVICE_NAME=${SERVICE_NAME}
ELASTIC_APM_SERVER_URL=https://localhost:8200
ELASTIC_APM_SECRET_TOKEN=secrettokengoeshere
ELASTIC_APM_VERIFY_SERVER_CERT=false # self-sign

# ----------------------------------------
# AUTOMATICALLY GENERATED (DO NOT MODIFY)
# ----------------------------------------

MACHINE_ID=
