[submodule "apps/gateway"]
	path = apps/gateway
	url = git@github.com:wenex-org/platform-gateway.git
[submodule "protos"]
	path = protos
	url = git@github.com:wenex-org/platform-protos.git
[submodule "libs"]
	path = libs
	url = git@github.com:wenex-org/platform-libs.git
